{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

<!-- {% block title %}  -->JAWAAB {{ block.super }}Home{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="home" %}
{% endblock %}

{% block navbar-right %}
  {% if not user.is_authenticated %}
<a class="btn btn-default" href="{% url 'accounts:login' %}" role="button">Log in</a>
<a class="btn btn-primary" href="{% url 'accounts:signup' %}" role="button">Sign up</a>
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block splash %}
  <div class="jumbotron jumbotron-carousel corporate-jumbo">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-8">
            <center><h1>Text to <span style="color:#00cc00">9243422233</span> to get whatever you want on demand with no
              hassle*:</h1></center>
                  <center>
                    <h2 style="color:#ffffff">
                  Text 8050248326 HELLO to get started.
                  </h2>
                </center>
	    <a class="btn btn-primary" href="{% url 'accounts:signup' %}" role="button">Sign up for Free!</a>
        </div>
        <div class="col-md-4 col-sm-4">

        </div>
      </div>
    </div>
  </div>
{% endblock splash %}

{% block container %}
<!-- Benefits of the Django application -->
<a name="about"></a>

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h2>Dictionary</h2>
      <p>Get dictionary meaning when you get stuck on the go.</p>
      <p>text -> 8050248326 dictionary "word_to_look_meaning_for"</p>

      <!--<p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>-->
    </div>
    <div class="col-lg-4">
      <h2>Wiki</h2>
      <p>Wanna know about anything. Get instant wikipedia results right on your mobile.</p>
      <p>text -> 8050248326 WIKI "search_term"</p>
      <!--<p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>-->
    </div>
    <div class="col-lg-4">
      <h2>Email</h2>
      <p>Send email with a click of an sms for times when your 3G goes off and you are late for your meeting</p>
      <p>text -> 8050248326 email "from_email" "to_email" "body_of_email"</p>

      <!--<p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>-->
    </div>
  </div>
</div>

{% endblock container %}

{% block scripts %}
<script src="{% static 'site/js/site.js' %}"></script>
{% endblock scripts %}

