{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

<!-- {% block title %}  -->
YOLO ID CARD {{ block.super }}Home{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="home" %}
{% endblock %}

{% block navbar-right %}
  {% if not user.is_authenticated %}
<a class="btn btn-default" href="{% url 'accounts:login' %}" role="button">Log in</a>
<a class="btn btn-primary" href="{% url 'accounts:signup' %}" role="button">Sign up</a>
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block splash %}
  <div class="jumbotron jumbotron-carousel corporate-jumbo">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-8">
            <center>
              <h1>
                Easy, Secure and Smart Identity Management System
              </h1>
            </center>
	    <a class="btn btn-primary" href="{% url 'accounts:signup' %}" role="button">Sign up for Free!</a>
        </div>
        <div class="col-md-4 col-sm-4">
            <img class="pull-right" alt="device pic" style="height:400px;" src="{% static 'site/img/device1.png' %}">
        </div>
      </div>
    </div>
  </div>
{% endblock splash %}

{% block container %}
<!-- Benefits of the Django application -->
<a name="about"></a>

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h2>Safe & Secure</h2>
      <p>Implemented on BlockChain’s Immutable record system make source of truth and no single point of failure.</p>
      <p>Permissioned network keeps data secure.</p>
    </div>
    <div class="col-lg-4">
      <h2>Easy</h2>
      <p>Seemless Document Sharing leveraging IPFS.</p>
    </div>
    <div class="col-lg-4">
      <h2>Self-Managed</h2>
      <p>Use your Yolo ID to safely access partner websites and limit access to your personal data.</p>
    </div>
  </div>
</div>

{% endblock container %}

{% block scripts %}
<script src="{% static 'site/js/site.js' %}"></script>
{% endblock scripts %}

